body {
    background-image: url("tsp_background.jpg");
}

html,
body {
    margin: 0;
    padding: 0;
}

.top_background {
    width: 100%;
    height: 60px;
    background-image: url("tspr_top.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.highlight {
    background-color: rgba(245, 20, 193, 0.844);
    font-family: 'Arial Narrow';
}

.highlight2 {
    background-color: rgba(26, 4, 22, 0.865);
    font-family: 'Arial';
    color: rgb(31, 247, 225);
    text-shadow: 0 0 5px rgb(31, 247, 225), 0 0 20px rgb(31, 247, 225);
    padding-left: 300px;
}

#top {
    color: rgb(31, 247, 225);
    /* padding-top: 100px; */
    padding-left: 100px;
    padding-bottom: 0px;
    font-size: 300%;
}

#intro {
    color: rgb(237, 228, 63);
    font-size: 400%;
    width: 950px;
    display: flex;
    gap: 50px;
    align-items: center;
}

#pic {
    width: 350px;
    background-color: rgba(26, 4, 22, 0.86);
    position: relative;
    display: inline-block;
}

#side-words {
    background-color: rgba(245, 20, 193, 0.844);
    font-family: 'Arial Narrow';
    position: relative;
    display: inline-block;
}

#paragraph {
    font-size: 140%;
    width: 1000px;
    display: inline-block;
    line-height: 1.3;
}

.js-div {
    display: flex;
    gap: 30px;
    /* margin: 50px; */
    font-size: 200%;
    padding-left: 80px;
    margin-bottom: 100px;
}

.atomized {
  position: relative;          
  display: inline-block;       
  will-change: transform;     
}


.controls {
  padding: 20px 20px 0px 20px;
}

.atom-btn {
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.25);
  background: rgba(245, 20, 193, 0.844);
  color: #00ffcc;
  cursor: pointer;
  backdrop-filter: blur(4px);
}
.atom-btn:hover { opacity: 0.9; }

/* ===== Invert Mode ===== */
.inverted {
  filter: invert(1) hue-rotate(240deg);
  transition: filter 0.6s ease;
}