body {
    background-image: url("tsp_background.jpg");
}
html, body { margin: 0; padding: 0; }

.top_background {
    width: 100%;
    height: 60px;
    background-image: url("tspr_top.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.highlight{
    background-color:rgba(245, 20, 193, 0.844);
    font-family: 'Arial Narrow';
}

.highlight2{
    background-color:rgba(26, 4, 22, 0.865);
    font-family: 'Arial';
    color: rgb(31, 247, 225);
    padding-left: 300px;
}

#top {
    color: rgb(31, 247, 225);
    /* padding-top: 100px; */
    padding-left: 100px;
    padding-bottom: 0px;
    font-size: 300%;
}

#intro{
    color: rgb(237, 228, 63);
    font-size:400%;
    width: 950px;
    display: flex;
    gap: 50px;
    align-items: center;
}

#pic {
    width: 350px;
    background-color:rgba(26, 4, 22, 0.86);
}

#paragraph{
    font-size: 140%;
    width: 1000px;
    display: inline-block;
    line-height: 1.3;
}