#creature-form{
    background-color: aliceblue;
    padding: 20px;
    margin: 50px;
}

#creature-list{
    background-color: rgba(224, 238, 251, 0.363);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
}